<div class="inputBox">
    <input type={{type}} required="required" name={{name}} value="{{value}}">
    <span>{{placeholder}}</span>
    <div class="error">{{error}}</div>
    {{#if visible}}
        <div class="visible"></div>
    {{/if}}
</div>
