<h1 class="form__logo">{{title}}</h1>
<form class="form__main">
    {{#each inputs}}
        {{{this}}}
    {{/each}}
    {{{button}}}
</form>
{{#if link}}
    <a href={{link.href}} class="form__link">{{link.text}}</a>
{{/if}}
